.container.article-form
  = form_for([:author, @author_article], :html => { role: 'form' }) do |f|
    - if @author_article.errors.any?
      .alert.alert-danger
        %ul
          - @author_article.errors.full_messages.each do |err|
            %li= err
    %hr
    .field
      = f.text_field :title, size: 70, class: 'form-control', placeholder: 'Title'
    %hr
    .field
      %b= f.label :tag
      = f.collection_select :tag_list, Tag.order(:name), :name, :name, class: 'form-control'
    -# .form-group
    -#   = f.label :importance
    -#   = f.text_field :importance
    %hr
    .field
      - if @author_article.article_image.present?
        = attachment_image_tag(@author_article, :article_image, :fill, 220, 220)
        %br
      = f.attachment_field :article_image, class: 'form-control-file form-control-lg'
    %hr
    .field
      = f.text_area :content, class: "tinymce", rows: 20, cols: 60
      = tinymce(uploadimage_default_img_class: 'img-fluid')
    %hr
    .form-actions
      = f.submit :Submit, class: 'btn btn-lg btn-success'
      %br
      %hr
