= form_for([:author, @author_article]) do |f|
  - if @author_article.errors.any?
    .alert.alert-danger
      %ul
        - @author_article.errors.full_messages.each do |err|
          %li= err
  .container
    .form-group
      = f.label :title
      = f.text_field :title, size: 160
      -# %br
    .form-group
      = f.label :importance
      = f.text_field :importance
    .form-group
      = f.label :article_image
      = f.attachment_field :article_image
    .form-group
      = f.label :content
      = f.trix_editor :content
    .form-actions
      = f.submit
