= will_paginate @author_articles
%table.table.table-striped.table-fixed
  %thead
    %tr
      %th Published at:
      %th Title
      %th Importance
      %th Seen (times)

  %tbody
    - @author_articles.each do |article|
      %tr
        %td= l article.created_at.to_date, format: :euformat
        %td= link_to article.title, article
        %td= article.importance
        -# %td
          -# - tick_bool(article.on_top?)
        %td wip for seen
        %td= link_to "Edit", edit_author_article_path(article), class: "btn btn-theme, btn-success"
        %td= link_to "Delete", author_article_path(article), data: { confirm: 'Are you sure?' }, method: 'delete', class: "btn btn-theme-bg"
= will_paginate @author_articles
