%span.hidden{itemprop: "dateCreated"}= @article.created_at.to_date
%span.hidden{itemprop: "dateModified"}= @article.updated_at.to_date
%span.hidden{itemprop: "datePublished"}= @article.updated_at.to_date
%span.hidden{itemprop: "image"}= [@article.og_host, attachment_url(@article, :article_image, :fit, 600, 400)].join unless @article.article_image.nil?
%span.hidden{itemprop: "author"}= @article.author
%div{itemprop:  "publisher", :itemscope => "itemscope", :itemtype => "https://schema.org/Organization"}
  %p.hidden{itemprop: "name"}= @article.publisher
  %span{:itemprop => "logo", :itemscope => "", :itemtype => "https://schema.org/ImageObject"}
    %meta{:content => "#{@article.og_host}/logo.png", :itemprop => "url"}/
    %meta{:content => "700", :itemprop => "width"}/
    %meta{:content => "120", :itemprop => "height"}/
