= form_for(@article) do |f|
  - if @article.errors.any?
    .alert.alert-danger
      %ul
        - @article.errors.full_messages.each do |err|
          %li= err
  .container
    .form-inputs
      = f.label :title
      = f.text_field :title, size: 160
      %br
      = f.label :article_image
      = f.attachment_field :article_image
      = f.label :content
      = f.trix_editor :content
      -# = f.input :published
      -# = f.input :picture, as: :file
      -# = f.input :author_id
      -# = f.input :category_id
      -# = f.input :golive

    .form-actions
      = f.submit
