.more-news
  - if @current_tag
    %h2.text-center= "Още от: #{@current_tag}"
    %hr
    .artshow.featured
      - @feat_current.each.with_index(1) do |article, i|
        = render partial: 'item', object: article, locals: { index: i }, id: artitem_id(i)

    %h2.text-center= "Още от: #{@tags[@current_index - 1].name}"
    %hr
    .artshow.featured
      - @prev_current.each.with_index(1) do |article, i|
        = render partial: 'item', object: article, locals: { index: i }, id: artitem_id(i)

    %h2.text-center= "Още от: #{@tags[@current_index + 1].name}"
    %hr
    .artshow.featured
      - @next_current.each.with_index(1) do |article, i|
        = render partial: 'item', object: article, locals: { index: i }, id: artitem_id(i)
