%hr
= I18n.t('payment_sentency')
%br
.payment-options
  %button.btn.btn-outline-primary
    = I18n.t('five_units')
  %button.btn.btn-outline-primary
    = I18n.t('ten_units')
  %button.btn.btn-outline-primary
    = I18n.t('twenty_units')
  %button.btn.btn-outline-primary
    = I18n.t('fifty_units')
