
.social-mobile
  %ul.share-mobile
    = link_to "https://twitter.com/intent/tweet?text=#{@article.title}&url=#{@article.og_fullpath}/?mbid=social_twitter_onsiteshare&via=BurgasReporter", target: :_blank do
      %li.mobiles
        = render 'layouts/tw_left'
    = link_to "https://www.facebook.com/sharer/sharer.php?u=#{@article.og_fullpath}", target: '_blank' do
      %li.mobiles
        = render 'layouts/fb_left'
