= render 'og_content'
= render 'layouts/new_adsense'
.show-page
  = render 'social_sidebar'
  .cont-body
    .flex-center
      -# = render 'layouts/mainbanner'
      %div{itemscope: "", itemtype: "http://schema.org/NewsArticle"}
        %span.title-intro
          = @article.tag_list.first
          = l @article.created_at.to_date
          = render 'amp_data'
        %h1
          %span{itemprop: "headline"}= h raw @article.title
        .artcl-image
          = attachment_image_tag(@article, :article_image, :fit, 860, 500, class: "img-fluid")
      .art-content
        = h raw  @article.content
      = render 'social_mobile'
      - if admin_signed_in?
        = link_to t(:edit_article), edit_author_article_path(@article), class: 'btn btn-warning'
  .show-right-adv
    = render 'layouts/right_adsense'
= render 'layouts/adsense'
= render 'articles/more_articles'
