-# - content_for :head do
-#   = tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"]
-#   = tag :meta, name: "twitter:card", content: "summary_large_image"
-#   = tag :meta, name: "twitter:site", content: "@BurgasReporter"
-#   -# = tag :meta, property: "og:url", content: request.original_url
-#   = tag :meta, property: "og:type", content: "article"
-#   = tag :meta, property: "og:title", content: @article.title
-#   = tag :meta, property: "og:description", content: strip_tags(@article.content).truncate_words(20, omission: '  ... ')
-#   = tag :meta, property: "og:published_time", content: @article.created_at.strftime("%d-%m-%Y %H:%M")
-#   = tag :meta, property: "og:image", content: request.protocol + request.host + attachment_url(@article, :article_image, :fit, 440, 240) unless @article.article_image.nil?
= render 'layouts/og_head'
.container-fluid
  = render 'layouts/new_adsense'
  .show-page
    .share-sidebar
      %ul.share-listing
        %li.listing-fb
          = link_to 'https://twitter.com/share', target: '_blank' do
            = render 'layouts/tw_left'
        %li.listing-fb
          = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", target: 'blank' do
            = render 'layouts/fb_left'
    .cont-body
      .flex-center
        %span.title-intro
          = @article.tag_list.first
          = l @article.created_at.to_date
        %h1= h raw @article.title
        .artcl-image
          =image_tag attachment_url(@article, :article_image, :fit, 440, 340), class: "img-responsive"
      .art-content
        =h raw  @article.content
        - if admin_signed_in?
          = link_to t(:edit_article), edit_author_article_path(@article), class: 'btn btn-warning'
    .show-right-adv
      = render 'layouts/right_adsense'
  = render 'layouts/adsense'
  -# = render 'share'
  -# = render 'layouts/fb_like'
  -# = render 'layouts/twitt_share'
