= render 'og_content'
= render 'layouts/new_adsense'
.show-page
  = render 'social_sidebar'
  .container
    .flex-center
      -# = render 'layouts/show_banner'
      %div{itemscope: "", itemtype: "http://schema.org/NewsArticle"}
        %span.title-intro
          = @article.tag_list.first
          = l @article.created_at.to_date
          = render 'amp_data'
        %h1
          %span{itemprop: "headline"}= h raw @article.title
        .artcl-image
          - if @article.main_image.attached?
            = artpic(@article, 800, 500)
      .art-content
        = raw  @article.content
        %span.title-intro
          Коментари
        = render partial: 'fb_comment', locals: { article_id: @article.id }
      = render 'social_mobile'
      - if admin_signed_in?
        = link_to t(:edit_article), edit_author_article_path(@article), class: 'btn btn-warning'
  .show-right-adv
    = render 'layouts/right_adsense'
= render 'layouts/adsense'
= render 'articles/more_articles'
