<%= form_tag search_searches_path, :method => :get do %>
  <fieldset>
    <h3>Search for an article</h3>
    <div class="input">
      <%= label_tag :search, "Search terms" %>
      <%= text_field_tag :search, params[:search] %>
      <br>
      <%# <%= check_box_tag :use_highlights, '1', params[:use_highlights] %>
      <%# <%= label :use_highlights, 'HTML Highlight results' %>
      <br><br>
      <%= submit_tag "Search" %>
    </div>
  </fieldset>
<% end %>
