%nav.navbar.header-v1.header-transparent.navbar-default.navbar-fixed-top
  .navbar-header.scroll-to
    %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to t(:brand), root_path, class: 'navbar-brand'
  = link_to searches_path do
    = render 'layouts/search_button'
  #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav.navbar-right
      = render 'layouts/nav_links'
      - if admin_signed_in?
        = render 'layouts/admin_nav_links'
