!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = render 'layouts/fonts'
    = csrf_meta_tags
  %body{'data-no-turbolink' => true }
    = render 'layouts/administration_nav_bar'
    = render 'layouts/messages'
    .container-fluid
      = yield
    = javascript_include_tag 'application'
