!!!
%html{:lang => "bg"}

  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    -# = render 'layouts/metatags'
    %title= content_for?(:title) ? yield(:title) : "Burgas Reporter - your single point of truth"
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Burgas-reporter.com'}"}
    = yield :head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render 'layouts/fonts'
    = render 'layouts/pinterest'
    = csrf_meta_tags
    = render 'layouts/ga_async'
  %body{data: {turbolinks: (content_for :turbolinks)}}
    = render 'layouts/nav_bar'
    .space30
    = render 'layouts/messages'
    = render 'layouts/fb_comments'
    .banners-top
      -# = render 'layouts/mainbanner' if current_page?(root_path)
    = render 'layouts/google_top'
    = yield
    = render 'layouts/footer'
