!!!
%html{:lang => "bg"}

  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    -# = render 'layouts/metatags'
    %title= content_for?(:title) ? yield(:title) : "Burgas Reporter - your single point of truth"
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Burgas-reporter.com'}"}
    = yield :head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render 'layouts/fonts'
    = csrf_meta_tags
  %body
    .container-fluid
      = render 'layouts/nav_bar'
      = render 'layouts/messages'
      = render 'layouts/fb_comments'
      .banners-top
        = render 'layouts/mainbanner' if current_page?(root_path)
      = yield
      = render 'layouts/google_a'
